<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if title %}
        <title>{{ title }} - TravelPlanner</title>
    {% else %}
        <title>Welcome to TravelPlanner</title>
    {% endif %}
</head>
<body>
<main>
    <section class="landing">
        <nav>
            <h1 id="logo"><span class="glow">&#127796;</span>TravelPlanner</h1>
            <ul class="nav-links">
                <li><a class="" href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_anonymous %}
                    <li><a class="" href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                    <li><a class="" href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a class="" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}

                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </section>
</main>
<div class="intro">
    <div class="intro-text">
        <h1 class="hide">
            <span class="text">Good Company in journey</span>
        </h1>
        <h1 class="hide">
            <span class="text">makes the way</span>
        </h1>
        <h1 class="hide">
            <span class="text">seem shorter.</span>
        </h1>
        <h3 class="hide citation">
            <span class="text">Izaak Walton</span>
        </h3>
    </div>
</div>
<div class="slider"></div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
        crossorigin="anonymous"
></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>
</html>